body{
    background-image: url("Ressources/Images/header.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {
    background-color: #101013;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "Redemption";
    src: url("Ressources/Fonts/Redemption.ttf") format("ttf");
}

@font-face {
    font-family: "Vogue";
    src: url("Ressources/Fonts/Vogue.ttf") format("ttf");
}


@font-face {
    font-family: "Champagne";
    src: url("Ressources/Fonts/champagne_limousines/Champagne_Limousines.ttf") format("ttf"),
        url("Ressources/Fonts/champagne_limousines/Champagne_Limousines_Bold.ttf") format("ttf"),
        url("Ressources/Fonts/champagne_limousines/Champagne_Limousines_Bold_Italic.ttf") format("ttf"),
        url("Ressources/Fonts/champagne_limousines/Champagne_Limousines_Italic.ttf") format("ttf");
}

.navbar{
    font-family: "Vogue";
}

.container-fluid h1{
    display: inline-flex;
    position: fixed;
    font-size: 10.5vw;
    color: #620126;
    font-family: "Vogue";
    left: 40%;
    top: 18%;
}

.container-fluid h2{
    display: inline-flex;
    position: fixed;
    left: 54.5%;
    top: 33%;
    font-size: 4vw;
    color: #FFFFFF;
    font-family: "Vogue";
}

.container-fluid p{
    display: inline-flex;
    position: fixed;
    left: 48%;
    top: 50%;
    font-size: 2vw;
    color: #FFFFFF;
    font-family: "Champagne";
}

.container-fluid a{
    display: inline-flex;
    position: fixed;
    left: 70%;
    top: 75%;
    font-size: 3vw;
    color: #620126;
    font-family: "Redemption";
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
}
.container-fluid a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width:1020px){

    .container-fluid h1{
        top: 23%;
        left: 35%;
        color: #B2485D;
    }
    .container-fluid h2{
        font-size: 7vw;
        left: 25%;
        top: 36%;
        color: #B2485D;
    }
    .container-fluid p{
        font-size: 4vw;
        left: 19%;
        top: 48%;
        color: #B2485D;
    }
    .container-fluid a{
        font-size: 7vw;
        left: 50%;
        color: #B2485D;
    }
}

@media (max-width:767px){

    .container-fluid h2{
        top: 34%;
        color: #B2485D;
    }
    .container-fluid p{
        top: 43%;
        color: #B2485D;
    }
    .container-fluid a{
        top: 62%;
        left: 40%;
        color: #B2485D;
    }
}

